.chat-container {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;

  margin-top: 64px;

  width: 100vw;
  height: 100vh;

  background-color: #ffffff;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
