.chatbubble {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 16px 16px 16px 14px;
  gap: 14px;

  width: 334px;

  background: #d9d9d9;
  border-radius: 16px;
  scroll-margin-bottom: 100px;
}

#username {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;

  color: #000000;
}

#message {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;

  color: #000000;
}

.self {
  background: #0a9c9298;
  align-self: flex-end;
}
